@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fullcalendar/core/main.css';
@import '@fullcalendar/daygrid/main.css';
@import '@fullcalendar/timegrid/main.css';

body {
    background-color: #f2f6f8;
}

.bg-main {
    background-color: #f2f6f8;
}

/* #root {
    height: 500vh;
} */

.h-70px {
    height: 70px !important;
}